*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("/images/AMAZON_logopng.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* Box2  */

.addr-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}
.addr-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}


/* Box3  */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px ;
}
.nav-search:hover{
    border: 1px solid orange;
}

.search-select{
    background-color: #F3F3F3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px ;
    width: 50px;
    text-align: center;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
   width:45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: #f6ab4a;
   border-top-right-radius: 3px;
    border-bottom-right-radius: 3px ;
    color: #0F1111;

}
/* BOX 4 */
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85;
    font-weight: 700;
}
/* Box  5*/
.nav-cart i{
    font-size: 30px;
    
}
.nav-cart{
    font-size: 0.85;
    font-weight: 700;
}
/* Pannel  */
.pannel{
    height: 40px;
    background-color: #222F3D;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.pannel-option p{
    display: inline;
    margin-left: 15px;
    
}
.pannel-option{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section styling */

.hero-section{
    background-image: url("/images/Firstimage.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


.hero-meassage{
    height: 40px;
    width: 90%;
    font-size: 0.85rem;
    font-weight: 500;
    
    display: flex;
    background-color: #F5F6F6 ;
    color: #0F1111;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;

}

.hero-meassage a{
    color: #007185;
    text-decoration: none;

}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #daedfa;

}
/* Shoping Area designing */
.box{
    height: 400px;
    width: 23%;

    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-image{
    height: 300px;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color :#007185;
}

footer{
    margin-top: 15px;
}
/* back to Top */

.Foot-pannel1{
    height: 50px;
    display: flex;
    background-color: #374751;
    text-align: center;
    color: white   ;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

/* Other Links Ads */

.foot-pannel2{
    height: 300px;
    width: 100%;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.foot-links ul p{
    font-size: 16px;
    font-weight: 700;
}
.foot-links{
    margin-top: 50px;  
 
}

.foot-links ul a{
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 200%;
    
}

/* Ending page */

.foot-pannel-3{
    border-top:0.5px solid #394b5e;
    background-color: #232F3E;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-logo{
    display: flex;
    height: 70px;
    width: 150px;
    background-image: url("/images/AMAZON_logopng.png");
    background-size: cover;
    position: relative;
    top :-12px;
    right: 60px;
}
.Bot-box{
    border: 1px solid #394b5e;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    border-radius: 5px;
    margin-left: -500px ;
    color: white;

}